.caja {
    font-size: 20px;
    background-color: #65a665;
}

.inline {
    display: inline;
    padding: 20px;
}

.bloque {
    display: block;
    padding: 30px;
    margin: 10px;
    width: 200px;
    height: 200px;
}

.inline-block {
    display: inline-block;
    padding: 30px;
    margin: 10px;
    width: 200px;
    height: 200px;
    vertical-align: top;
}

.none {
    display: none;
}