body {
    background-color: #f2f2f2;
}

.contenedor {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    overflow: hidden;

    .imagen {
        float: left;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
    }

    .caja {
        background-color: #000;
        color: #fff;
        padding: 20px;
        margin: 5px;

        &:nth-child(1) {
            float: left;
        }

        &:nth-child(2) {
            float: right;
        }
    }

    .clear {
        clear: both;
    }
}