/* SIN VARIABLES*/
/*
h1 {
    color: red;
}

header nav a {
    color: red;
}

main a {
    color: red;
}
*/

/* ejemplo con variables */

:root {
    --color-primario: orangered;
    --color-secundario: skyblue;
    --fuente-primaria: 'Arial', 'sans-serif';
    --fuente-secundaria: 'Times New Roman', 'serif';
    --padding: 10px;
    --margin: 20px;
}

h1 {
    color: var(--color-primario);
    font-family: var(--fuente-secundaria);
}

header nav a {
    color: var(--color-secundario);
}

main a {
    color: var(--color-primario);
}